---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "UTF-8";

// Mixins
@import "components/mixins";

// Variables
@import "components/variables";

// Reset
@import "components/normalize";

// Components
@import "components/global";
@import "components/helpers";
@import "components/grid";
@import "components/typography";
@import "components/buttons";
@import "components/syntax-highlighting";

// Pages styling
@import "pages/layout";
@import "pages/archive";
@import "pages/post";

.video-container {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    width: 75%;
    height: 75%;
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media (max-width:992px) { 
    .video-container {
        overflow: hidden;
        position: relative;
        margin: 0 auto;
        width:100%;
    }
    
    .video-container::after {
        padding-top: 56.25%;
        display: block;
        content: '';
    }
    
    .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}